<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

<connectionStrings><add name="Database1Entities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=dbe4c04b-7647-495a-83c6-a4c600e5e800.sqlserver.sequelizer.com;Database=dbdbe4c04b7647495a83c6a4c600e5e800;User ID=vddnfhwisvpyvhtz;Password=R3FMbTzExsDNkFcbRfdm8UmsBwmsMR4zz8pmYCgfRLh2VpimVHpSoH65PokLGhZN;&quot;" providerName="System.Data.EntityClient" /><add name="Database1Entities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>

</configuration>
