@{
    ViewBag.Title = "about";
}

<h2>this website is developed by GHULAM MUSTAFA <br/>inspired by IMDB <br/>
    just to give an easy access to the latest or popular movies to the general users</h2>
