@{
    ViewBag.Title = "admin";
    

    
}

<h2>admin</h2>



<ul >
    <li><a href="../Home/addUser">add new user</a></li>
    <li><a href="../Home/Show">delete user</a></li>
    <li><a href="../Home/varifyUser">varify user</a></li>
    <li><a href="../Home/Show">show all</a></li>

    <li><a href="../Home/add">add new movie</a></li>
    <li><a href="../Home/ShowAll">delete a movie</a></li>
    <li><a href="../Home/ShowAll">show all</a></li>
    
</ul>