@{
    ViewBag.Title = "Contact";
}
        
    <br/>

    <div>
        <h3 style="margin-left:200px; font-weight:500 ">Contact Me</h3>
        <hr style="margin-left:200px; width:900px"/>
    </div>
    
    <div class="col-xs-offset-3">
    <label style="float:left"> Name: </label> <p class="col-xs-offset-1">Ghulam Mustafa</p>
    </div>

    <br/>

    <div class="col-xs-offset-3">
    <label style="float:left"> Phone: </label> <p class="col-xs-offset-1">0312-4003150</p>
    </div>

    <br/>

    <div class="col-xs-offset-3">
    <label style="float:left"> Email: </label> <p class="col-xs-offset-1"> bsef12m561@pucit.edu.pk</p>
    </div>

    <br/>
    
    <div class="col-xs-offset-3">
    <label style="float:left"> Facebook: </label> <a href="https://www.facebook.com/adeel.ahmad.12560"><p class="col-xs-offset-1"> https://www.facebook.com </p></a>
    </div>