@{
    ViewBag.Title = "Index";
   
}
        
    <br/>
<html>
<head>
    <title>welcome to gm movies</title>
    <style>
        body {
            background-color: lightgray;
        }

        h1 {
            color: blue;
        }

        p {
            color: green;
        }
    </style>
</head>
<body>
    <div>
        <h3 style=" margin-left:200px; font-weight:500 ">
    Welcome to GM movies website</h3>
    <hr style="margin-left:200px; width:900px" />
    </div>
    <div style="margin-left:150px">
        <font size="5">
            <div class="row container">
                <div class="col-lg-3">
                    <img src="~/Images/Boyhood(2014).jpg" height="250" width="250" />
                </div>
                <strong>
                    boyhood<br />  rating: 8.1<br />leading actor:Ethan Hawke<br /><br />
                </strong>
            </div>


            <div class="row container">
                <div class="col-lg-3">
                    <br /><img src="~/Images/Predestination(2014).jpg" height="250" width="250">
                </div>
                <strong>
                    <br /> predestination <br />  rating 7.3<br />leading actor: Ethan Hawke
                </strong>
            </div>


            <div class="row container">
                <div class="col-lg-3">
                    <br /> <img src="~/Images/Fast and Furious 7(2015).jpg" height="250" width="250" />
                </div>
                <strong>
                    <br /><br />  fast and furious 7 <br />  rating 7.3<br />leading actor: Vin Diesel
                </strong>
            </div>



            <div class="row container">
                <div class="col-lg-3">
                    <br /><img src="~/Images/Edge of Tomorrow(2014).jpg" height="250" width="250">
                </div>
                <strong>
                    <br /><br />edge of tomorrow <br />  rating 8.0<br />leading actor: Tom Cruise
                </strong>
            </div>

        </font>
    </div>
</body>
</html>
