@{
    ViewBag.Title = "search";
}

@model SharedLayoutExample.Models.movy

<h2>search</h2>
<table style="width:700px;border-color:black;" border="1">

    <tr>
        <th>Name</th>

        <th>Genre</th>

        <th>Rating</th>

        <th>Rated</th>

    </tr>

    


        <tr>
            <td>@Model.Name</td>

            <td>@Model.Genre</td>

            <td>@Model.Rating</td>

            <td>@Model.Rated</td>
            
        </tr>

    

</table>