@{
    ViewBag.Title = "SignUp";
}
        
    <br/>

    <div>
        <h3 style="margin-left:200px; font-weight:500 ">Sign Up</h3>
        <hr style="margin-left:200px; width:900px"/>
    </div>
    
    <div>
    <form action="SignUptodb" class="form-horizontal" role="form" method="post">

        <div class="form-group">
            <label class="control-label col-lg-3" for="name">Name: </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="Name" placeholder="Enter Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3" for="email">Email:</label>
            <div class="col-lg-4">
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email" />
                <input type="button" id="b1" value="Check" class="form-control"/>
            </div>
            <div id="result" >

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3" for="pwd">Password:</label>
            <div class="col-lg-4">
                <input type="password" class="form-control" name="Password" placeholder="Enter Password" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3" for="address">Address:</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="Address" placeholder="Enter Address" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3" for="country">Country: </label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="Country" placeholder="Enter Country" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3" for="gender">Gender:</label>
            <div class="col-lg-1">
                <label class="control-label col-lg-10" for="gender">Male:</label>
                <input style="margin-top:10px" type="radio" class="btn btn-primary" value="Male" name="Gender" />
            </div>
            <div class="col-lg-3">
                <label class="control-label col-lg-3" for="gender">Female:</label>
                <input style="margin-top:10px" type="radio" class="btn btn-primary" name="Gender" value="female" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">Year: </label>
            <div class="col-lg-3">
                <select class="from-control input-sm" name="Year">
                    <optionv>-Select-</optionv>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3" for="note">Note:</label>
            <div class="col-lg-4">
                <textarea class="form-control" name="Note" placeholder="Write Your Message"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-lg-10">
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

    </form>
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-10">
            <form action="~/Home/SaveFile" method="post" enctype="multipart/form-data">

                Upload Image: <input type="file" name="image" />



                <input type="submit" value="upload" />
            </form>
            </div></div>
        </div>

<script src="~/Scripts/jquery-1.7.1.js"></script>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $('#b1').click(function () {
            var Email = $('#Email').val();

            $.getJSON("/Home/CheckUserEmail?Email=" + Email, function (data) {
                if (data) {
                    $('#result').text("Email ID already Exists.");

                }
                else
                    $('#result').text("Available");

            });
        });
    });
</script>